Package: com.dcproducts.iossecuritysuitebypass
Name: iOSSecuritySuiteBypass
Version: 1.0.0
Architecture: iphoneos-arm
Description: A bypass for the iOSSecuritySuite Swift library.
Maintainer: Derek Calabro
Author: Derek Calabro
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
Depiction: https://dtcalabro.github.io/repo/depictions/?p=com.dcproducts.iossecuritysuitebypass
SileoDepiction: https://dtcalabro.github.io/repo/depictions/com.dcproducts.iossecuritysuitebypass/depiction.json
Icon: https://dtcalabro.github.io/repo/depictions/com.dcproducts.iossecuritysuitebypass/icon.png
